// Colours
$main-colour: darkcyan;

// Components
$border-radius-xlg: .4rem !default;
$border-radius-xxlg: .5rem !default;
$border-radius-xxxlg: .6rem !default;
$border-radius-xxxxlg: .7rem !default;
$border-radius-xxxxxlg: .8rem !default;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-xsm: $font-size-base * .75 !default;
$font-size-xxsm: $font-size-base * .65 !default;
$font-size-xxxsm: $font-size-base * .5 !default;
$line-height-base: 1.6;
