.chat__wanda {
  background-image: url(/img/emotions/base.gif);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(115%) saturate(140%);
  line-height: 0;
  min-height: calc((100vw / (400 / 225)) - #{$small-screen-vertical-crop});
  position: relative;
  top: -$small-screen-vertical-crop;
  
  @media screen and (min-height: $small-screen-height) {
    min-height: calc(100vw / (400 / 225));
    top: 0;
  }
  
  @include media-breakpoint-up(sm) {
    border-top-left-radius: $spacer * .5;
    border-top-right-radius: $spacer * .5;
    min-height: 225px;
  }
  
  &__image {
    transition: 0.5s linear all;
    width: 100%;
    
    @include media-breakpoint-up(md) {
      border-top-left-radius: $spacer * .5;
      border-top-right-radius: $spacer * .5;
    }
  }
  
  &__title {
    color: $main-colour;
    font-family: 'Pacifico', cursive;
    left: 12px;
    line-height: 1.1;
    position: absolute;
    top: calc(25px + (#{$small-screen-vertical-crop} / 1.5));
    width: 100%;
    
    @media screen and (min-height: $small-screen-height) {
      top: 12px;
    }
    
    &--1 {
      font-size: $font-size-md;
      
      @media screen and (min-height: $small-screen-height) {
        font-size: $font-size-lg;
      }
    }
    
    &--2 {
      font-size: $font-size-xxlg;
      text-shadow: 1px 1px 1px black;
      
      @media screen and (min-height: $small-screen-height) {
        font-size: $font-size-xxxlg;
      }
      
      &--w {
        display: inline-block;
        
        &--rotate {
          left: 3px;
          position: relative;
          top: 11px;
          transform: rotate(-40deg);
        }
      }
    }
  }
}
