.chat {
  background-color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  max-width: 400px;
  overflow: visible;
  position: relative;
  width: 100vw;
  
  @include media-breakpoint-up(sm) {
    border-radius: $spacer * .5;
    max-height: 600px;
  }
  
  &__loading {
    background-color: white;
    flex: 1 1 auto;
    height: 80%;
    overflow-y: auto;
    padding: $spacer 0;
    text-align: center;
    
    &__spinner {
      height: $spacer * 4;
      margin-top: $spacer;
      width: $spacer * 4;
    }
  }
  
  &__messages {
    background-color: white;
    flex: 1 1 auto;
    height: 80%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: $spacer * .25 0;
    
    &__bottom {
      max-height: 1px;
    }
    
    &__day {
      background-color: lightgoldenrodyellow;
      font-size: $font-size-xxsm;
      font-weight: $font-weight-bold;
      margin: $spacer 0;
      padding: $spacer * .25;
      text-align: center;
    }
    
    &__message {
      clear: both;
      display: flex;
      margin-bottom: $spacer * .5;
      
      &--user {
        justify-content: flex-end;
        margin-right: $spacer;
      }

      &--wanda {
        justify-content: flex-start;
        margin-left: $spacer;
      }
      
      &__bubble {
        border-radius: $border-radius-xxxxxlg;
        font-size: $font-size-sm;
        max-width: 90%;
        padding: $spacer * .15 $spacer * .6 $spacer * .15;
        word-wrap: break-word;
        
        @media screen and (min-height: $small-screen-height) {
          font-size: $font-size-base;
          max-width: 65%;
          padding: $spacer * .25 $spacer * .7 $spacer * .25;
        }
        
        &--large-text {
          font-size: $font-size-xxlg;
        }
        
        &--typing {
          width: $spacer * 5;
        }
        
        &--user {
          background-color: $main-colour;
          border-top-right-radius: 0;
          color: white;
          text-align: right;
          
          a, a:hover, a:focus, a:visited {
            color: white;
          }
        }

        &--wanda {
          background-color: gold;
          border-top-left-radius: 0;
          color: black;
          text-align: left;
          
          a, a:hover, a:focus, a:visited {
            color: black;
          }
        }
        
        &__image {
          border-radius: inherit;
          margin: #{-$spacer * .25} #{-$spacer * .7} #{$spacer * .25} #{-$spacer * .7};
          width: calc(100% + (#{$spacer} * 1.4));
          
          &--below-text {
            margin-top: $spacer * .5;
          }
        }
      }
      
      &__time {
        font-size: $font-size-xxsm;
        text-align: right;
      }
      
      a, a:link, a:visited, a:hover, a:active {
        text-decoration: underline;
      }
    }
    
    &__typing {
      &__indicator {
        border-radius: 50%;
        height: 24px;
        margin: 4px 0 6px;
        width: 6px;
      }
    }
  }
}
