.chat {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  
  @include media-breakpoint-up(lg) {
    max-height: 600px;
    max-width: 400px;
  }
  
  &__messages {
    background-color: white;
    flex: 1 1 auto;
    height: 80%;
    overflow-y: auto;
    padding: $spacer 0;
    
    &__bottom {
      max-height: 1px;
    }
    
    &__day {
      background-color: lightgoldenrodyellow;
      font-size: $font-size-xxsm;
      font-weight: $font-weight-bold;
      margin: $spacer 0;
      padding: $spacer * .25;
      text-align: center;
    }
    
    &__message {
      clear: both;
      display: flex;
      margin-bottom: $spacer * .5;
      
      &__time {
        font-size: $font-size-xxsm;
        text-align: right;
      }
      
      &--user {
        justify-content: flex-end;
        margin-right: $spacer;
      }

      &--wanda {
        justify-content: flex-start;
        margin-left: $spacer;
      }
      
      &__bubble {
        border-radius: $border-radius-xxxxxlg;
        font-size: $font-size-base;
        max-width: 65%;
        padding: $spacer * .25 $spacer * .7 $spacer * .25;
        word-wrap: break-word;
        
        &--typing {
          width: $spacer * 5;
        }
        
        &--user {
          background-color: $main-colour;
          border-top-right-radius: 0;
          color: white;
          text-align: right;
        }

        &--wanda {
          background-color: linen;
          border-top-left-radius: 0;
          color: black;
          text-align: left;
        }
        
        &__image {
          border-radius: inherit;
          margin: #{-$spacer * .25} #{-$spacer * .7} #{$spacer * .25} #{-$spacer * .7};
          width: calc(100% + (#{$spacer} * 1.4));
        }
      }
    }
    
    &__typing {
      &__indicator {
        -webkit-animation: typing-black 1s linear infinite alternate;
        -moz-animation: typing-black 1s linear infinite alternate;
        -ms-animation: typing-black 1s linear infinite alternate;
        animation: typing-black 1s linear infinite alternate;
        border-radius: 50%;
        height: 6px;
        margin: 7px 15px 6px;
        width: 6px;
      }
    }
  }

  &__input {
    background-color: beige;
    flex: 1 1 auto;
    padding: $spacer;
    
    &__choices {
      display: flex;
      justify-content: space-around;
      
      &__choice {
        background-color: white;
        border: 1px solid $main-colour;
        border-radius: $spacer;
        border-top-right-radius: 0;
        color: $main-colour;
        cursor: pointer;
        display: inline-block;
        margin: $spacer * .75;
        padding: $spacer * .5 $spacer * .75;
        
        &:hover {
          background-color: lavender;
        }
      }
    }
    
    &__form {
      display: flex;
      align-items: center;
      
      &__submit-button {
        color: $main-colour;
        cursor: pointer;
        font-size: $font-size-xlg !important;
        line-height: 1.5rem;
        margin: 0 0 0 ($spacer * .5) !important;
      }
      
      &__text-input {
        flex-grow: 1;
        vertical-align: middle;
        width: calc(100% - (1.18em + #{$spacer * .5}));
      }
    }
  }
}

@-webkit-keyframes typing {
  0% {
    background-color: rgba(255,255,255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4), 24px 0px 0px 0px rgba(255,255,255,0.2);
  }
  50% {
    background-color: rgba(255,255,255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,1), 24px 0px 0px 0px rgba(255,255,255,0.4);
  }
  100% {
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4), 24px 0px 0px 0px rgba(255,255,255,1);
  }
}

@-moz-keyframes typing {
    0% {
      background-color: rgba(255,255,255, 1);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4), 24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    50% {
      background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,1), 24px 0px 0px 0px rgba(255,255,255,0.4);
    }
    100% {
      background-color: rgba(255,255,255, 0.2);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4), 24px 0px 0px 0px rgba(255,255,255,1);
    }
}

@keyframes typing-black {
    0% {
      background-color: rgba(74, 74, 74, 1);
      box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 0.4), 24px 0px 0px 0px rgba(74, 74, 74, 0.2);
    }
    50% {
      background-color: rgba(74, 74, 74, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 1), 24px 0px 0px 0px rgba(74, 74, 74,0.4);
    }
    100% {
      background-color: rgba(74, 74, 74, 0.2);
      box-shadow: 12px 0px 0px 0px rgba(74, 74, 74,0.4), 24px 0px 0px 0px rgba(74, 74, 74,1);
    }
}

@keyframes typing {
    0% {
      background-color: rgba(255,255,255, 1);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4), 24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    50% {
      background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,1), 24px 0px 0px 0px rgba(255,255,255,0.4);
    }
    100% {
      background-color: rgba(255,255,255, 0.2);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.4), 24px 0px 0px 0px rgba(255,255,255,1);
    }
}
