.chat {
  background-color: white;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  
  @include media-breakpoint-up(md) {
    border-radius: $spacer * .5;
    max-height: 600px;
    max-width: 400px;
  }
  
  &__loading {
    background-color: white;
    flex: 1 1 auto;
    height: 80%;
    overflow-y: auto;
    padding: $spacer 0;
    text-align: center;
    
    &__spinner {
      height: $spacer * 4;
      margin-top: $spacer;
      width: $spacer * 4;
    }
  }
  
  &__messages {
    background-color: white;
    flex: 1 1 auto;
    height: 80%;
    overflow-y: auto;
    padding: $spacer 0;
    
    &__bottom {
      max-height: 1px;
    }
    
    &__day {
      background-color: lightgoldenrodyellow;
      font-size: $font-size-xxsm;
      font-weight: $font-weight-bold;
      margin: $spacer 0;
      padding: $spacer * .25;
      text-align: center;
    }
    
    &__message {
      clear: both;
      display: flex;
      margin-bottom: $spacer * .5;
      
      &--user {
        justify-content: flex-end;
        margin-right: $spacer;
      }

      &--wanda {
        justify-content: flex-start;
        margin-left: $spacer;
      }
      
      &__bubble {
        border-radius: $border-radius-xxxxxlg;
        font-size: $font-size-base;
        max-width: 65%;
        padding: $spacer * .25 $spacer * .7 $spacer * .25;
        word-wrap: break-word;
        
        &--large-text {
          font-size: $font-size-xxlg;
        }
        
        &--typing {
          width: $spacer * 5;
        }
        
        &--user {
          background-color: $main-colour;
          border-top-right-radius: 0;
          color: white;
          text-align: right;
          
          a, a:hover, a:focus, a:visited {
            color: white;
          }
        }

        &--wanda {
          background-color: gold;
          border-top-left-radius: 0;
          color: black;
          text-align: left;
          
          a, a:hover, a:focus, a:visited {
            color: black;
          }
        }
        
        &__image {
          border-radius: inherit;
          margin: #{-$spacer * .25} #{-$spacer * .7} #{$spacer * .25} #{-$spacer * .7};
          width: calc(100% + (#{$spacer} * 1.4));
        }
      }
      
      &__time {
        font-size: $font-size-xxsm;
        text-align: right;
      }
      
      a, a:focus, a:visited {
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
    }
    
    &__typing {
      &__indicator {
        border-radius: 50%;
        height: 24px;
        margin: 4px 0 6px;
        width: 6px;
      }
    }
  }
}

@keyframes typing {
  0% {
    background-color: rgba(74, 74, 74, 1);
    box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 0.4), 24px 0px 0px 0px rgba(74, 74, 74, 0.2);
  }
  50% {
    background-color: rgba(74, 74, 74, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 1), 24px 0px 0px 0px rgba(74, 74, 74,0.4);
  }
  100% {
    background-color: rgba(74, 74, 74, 0.2);
    box-shadow: 12px 0px 0px 0px rgba(74, 74, 74,0.4), 24px 0px 0px 0px rgba(74, 74, 74,1);
  }
}
