.chat__input {
  background-color: beige;
  flex: 1 1 auto;
  padding: $spacer * .5 $spacer * .5 0;
  
  @include media-breakpoint-up(md) {
    border-bottom-left-radius: $spacer * .5;
    border-bottom-right-radius: $spacer * .5;
  }

  &__choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__choice {
      align-items: center;
      background-color: $main-colour;
      border: 1px solid $main-colour;
      border-radius: $spacer;
      border-top-right-radius: 0;
      color: white;
      cursor: pointer;
      display: flex;
      margin: $spacer * .25;
      padding: $spacer * .15 $spacer * .6 $spacer * .15;
      
      @media screen and (min-height: $small-screen-height) {
        padding: $spacer * .25 $spacer * .7 $spacer * .25;
      }

      &:hover {
        background-color: white;
        color: $main-colour;
      }

      &--selected {
        background-color: $main-colour !important;
        color: white !important;
      }
      &--unselected {
        background-color: white !important;
        color: $main-colour !important;
      }
    }

    a, a:focus, a:visited {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: $main-colour;
      text-decoration: none;
    }
  }
  
  &__container {
    min-height: $spacer * .6;
  }

  &__form {
    align-items: center;
    display: flex;
    font-size: $font-size-sm;
    justify-content: flex-end;
    padding-bottom: $spacer * .5;
    
    @media screen and (min-height: $small-screen-height) {
      font-size: $font-size-md;
    }

    &__error-message {
      font-size: $font-size-xxsm;
      min-height: $spacer;
      &--has-error {
        color: red;
      }
    }
    
    &__forgotten-password {
      cursor: pointer;
      display: inline-block;
      font-size: $font-size-xxsm;
      margin: $spacer * .25 0 $spacer * .5;
    }
    
    &__skip {
      cursor: pointer;
      font-size: $font-size-xxsm;
      margin: $spacer * .25 0 $spacer * .5;
    }

    &__submit-button {
      color: $main-colour;
      cursor: pointer;
      font-size: $font-size-xmlg !important;
      line-height: $font-size-base * 1.5;
      margin: 0 0 0 ($spacer * .5) !important;
    }

    &__input {
      border-radius: $spacer * .25;
      flex-grow: 1;
      padding: $spacer * .25;
      vertical-align: middle;
      width: calc(100% - (1.18em + #{$spacer * .5}));
    }
  }
}

.react-phone-number-input {
  flex-grow: 1;
  
  &__icon {
    border: none !important;
    line-height: 0 !important;
  }
  &__country-select-arrow {
    color: black;
  }
}
