.chat__meltdown {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;
  
  &__cracks {
    height: 50%;
    position: absolute;
    width: 50%;
    
    &--top {
      top: 0;
    }
    
    &--bottom {
      bottom: 0;
    }
    
    &--left {
      left: 0;
    }
    
    &--right {
      right: 0;
    }
  }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}

$shakeAmount: 5;

@keyframes shake {
  0% { transform: translate(1px * $shakeAmount, 1px * $shakeAmount) rotate(0deg * $shakeAmount); }
  10% { transform: translate(-1px * $shakeAmount, -2px * $shakeAmount) rotate(-1deg * $shakeAmount); }
  20% { transform: translate(-3px * $shakeAmount, 0px * $shakeAmount) rotate(1deg * $shakeAmount); }
  30% { transform: translate(3px * $shakeAmount, 2px * $shakeAmount) rotate(0deg * $shakeAmount); }
  40% { transform: translate(1px * $shakeAmount, -1px * $shakeAmount) rotate(1deg * $shakeAmount); }
  50% { transform: translate(-1px * $shakeAmount, 2px * $shakeAmount) rotate(-1deg * $shakeAmount); }
  60% { transform: translate(-3px * $shakeAmount, 1px * $shakeAmount) rotate(0deg * $shakeAmount); }
  70% { transform: translate(3px * $shakeAmount, 1px * $shakeAmount) rotate(-1deg * $shakeAmount); }
  80% { transform: translate(-1px * $shakeAmount, -1px * $shakeAmount) rotate(1deg * $shakeAmount); }
  90% { transform: translate(1px * $shakeAmount, 2px * $shakeAmount) rotate(0deg * $shakeAmount); }
  100% { transform: translate(1px * $shakeAmount, -2px * $shakeAmount) rotate(-1deg * $shakeAmount); }
}
