.site-menu {
  border-bottom-left-radius: $spacer * .8;
  line-height: 1.5;
  padding: $spacer;
  position: absolute;
  right: 0;
  top: 36px;
  width: 100%;
  z-index: 10000;
  
  @media screen and (min-height: $small-screen-height) {
    top: 0;
  }
  
  &--closed {
    
  }
  
  &--open {
    background-color: #d2b909;
    box-shadow: 0 0.2rem 0.2rem 0 goldenrod;
  }
  
  &__hamburger {
    display: flex;
    justify-content: flex-end;
    
    div {
      cursor: pointer;
    }
  }
  
  &__items {
    color: #4d0e81;
    padding: $spacer * .5 $spacer * .8 0;
    
    &--closed {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s linear;
    }
    
    &--open {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.5s linear;
    }
    
    &__item {
      border-bottom: solid 1px goldenrod;
      padding: $spacer * .5 0;
      
      &__link {
        display: block;
      }
    }
  }
}
